@include test-module('list-reverse') {
    @include test('Reverse a list') {

        $list: (1, 2, 3, 4);

        $actual: list-reverse($list);
        $expected: (4 3 2 1);

        @include assert-equal(
            $actual, $expected, 'should return the list in reverse'
        );
    }
}