@include test-module('map-search') {
    @include test('Search a map for a key') {

        $map:(
            'foo':(
                'bar':(
                    'baz': 1,
                    'qux': 'alpha'
                )
            )
        );

        $actual: map-search($map, 'qux');
        $expected: 'alpha';

        @include assert-equal(
            $actual, $expected, 'should return the requested key`s value'
        );
    }
}