// Import testing framework
@import '../node_modules/sass-true/sass/true';

// Import the project
@import '../src/sass-boost';

// Import the test files
@import 'functions/is-grayscale';
@import 'functions/list-replace';
@import 'functions/list-reverse';
@import 'functions/map-get-deep';
@import 'functions/map-merge-deep';
@import 'functions/map-reverse';
@import 'functions/map-search';
@import 'functions/map-set';
@import 'functions/map-set-deep';