/// Determine if a passed color is grayscale
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {color} $color - the color to test for grayscaleness
/// @param {string} $string [''] - optional string to provide additional scoping
/// @param {string} $namespace ['grey] - the namespace to search $string for
///
/// @return {bool} - whether or not the passed color is grayscale
@function is-grayscale($color: '', $string: '', $namespace: 'grey') {
    @if type-of($color) == 'color' {
        @if grayscale($color) == $color {
            @return true;
        } @else {
            @return false;
        }
    } @else {
        @if str-index($string, $namespace) {
            @return true;
        } @else {
            @return false;
        }
    }
}